@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=optional');

html,
body {
  padding: 0;
  margin: 0;
	background: #0c111b;
	scrollbar-width: 0px;
  
}

a {
  color: inherit;
  text-decoration: none;
}



.portfolio-logo {
  /* font-family: 'Indie Flower', cursive; */
  font-size: 42px;
  letter-spacing: 1px;
  font-weight: bold;
  
}

.pages-nav {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	padding: 20px;
	text-align: center;
	/* background: #0e0f0f; */
  
}

.js .pages-nav {
	/* position: absolute; */
	/* top: 0; */
	/* left: 0; */
	width: 100%;
	height: 50vh;
	padding: 30px;
	pointer-events: none;
	opacity: 0;
	background: transparent;
	-webkit-transition: -webkit-transform 1.2s, opacity 1.2s;
	transition: transform 1.2s, opacity 1.2s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	-webkit-transform: translate3d(0, 150px, 0);
	transform: translate3d(0, 150px, 0);
}

.js .pages-nav--open {
	pointer-events: auto;
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.pages-nav__item {
	/* width: 33%; */
	padding: 1em;
}

.js .pages-nav__item {
	padding: 0 10%;
}

.pages-nav .pages-nav__item--social {
	width: 100%;
	opacity: 0;
	-webkit-transition: -webkit-transform 1.2s, opacity 1.2s;
	transition: transform 1.2s, opacity 1.2s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	-webkit-transform: translate3d(0, 20px, 0);
	transform: translate3d(0, 20px, 0);
}

.pages-nav--open .pages-nav__item--social {
	opacity: 1;
	-webkit-transition-delay: 0.35s;
	transition-delay: 0.35s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.link {
	font-size: 1.2em;
	font-weight: bold;
	position: relative;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.link:hover,
.link:focus {
	color: #fff;
}

.link--page {
	display: block;
	color: #cecece;
}

.link--page:not(.link--faded)::before {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	width: 30px;
	height: 2px;
	margin: 5px 0 0 -15px;
	background: #fff;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: scale3d(0, 1, 1);
	transform: scale3d(0, 1, 1);
}

.link--page:hover:before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

.link--faded {
	color: #4f4f64;
}

.link--faded:hover,
.link--faded:focus {
	color: #5c5edc;
}

.link--page.link--faded {
	font-size: 0.65em;
}


.followme {
	writing-mode:sideways-lr;
	color: #fff;
	letter-spacing: 10px;
	font-weight: 700;
}

#insta {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  border-radius: 25%;
  /* font-size: 200px; change this to change the size */
  
}

.main {
	background-image: url('/wave-haikei.svg');
	background-size: cover;	
	/* width: 100vw; */
	height: 100vh;
}

.home-info {
	height: 70vh;
}

.profession {
	color: #cecece;
	font-size: large;
	letter-spacing: 6px;
	padding-top: 20px;
	padding-left: 25px;
}

.greeting {
	color: #cecece;

}

.more {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	/* margin-top: 120px; */
	padding-left: 60px;
}

.bio {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
	/* padding-top: 40px; */
	background-color: #a484d1;
	margin-left: 120px;
	border-radius: 20px;
	opacity: 70%;
	width: 300px;
}

.my-image {
	/* display: flex; */
	/* justify-content: center; */
	overflow: hidden;
	/* border-radius: 25px; */
}
.my-image  img {
	flex-shrink: 0;
	/* min-width: 100%; */
	/* min-height: 100%; */
	object-fit: contain;
	width: 300px;
  height: 300px;
	border-radius: 50%;
	
}

.bio-text {
	padding: 20px;
	text-align: center;
	font-size: 25px;
}